.Rproj.user
.Rhistory
.RData
.Ruserdata
misc/Athey and Wager 2019.pdf
misc/Bodnar et al 2022.pdf
misc/Conzuelo et al 2022.pdf
misc/Kennedy 2022.pdf
misc/Kennedy 2023.pdf
misc/Wager and Athey 2015.pdf
